:root {
    --primary-color: #d4f8f6;
    --secondary-color: #3bade2;
    --tertiary-color: #0a272b;
  }
  *  {
  top: 0;
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  body{
    background-color:var(--primary-color);
    font-family: Quattrocento;
  }
  header {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color:var(--secondary-color);
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
  }
  header h1 {
    font-weight: bolder;
    font-size: 36px;
    color:var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header a {
    text-decoration: none;
    color: var(--tertiary-color);
  }
  header nav {
    margin: 7px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size:24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  .about-me{
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  #myimage {
    height: 150px;
    width: 150px;
    padding-right: 15px;
    float:left;
  }
  .abouttxt h2 {
    font-size: 30px;
    font-weight: bold;
  }
  .abouttxt p {
      font-size:18px;
    padding: 5px;
    text-align: center;
    float:right;
  }
  .work {
    padding:10px;
  
  }
  .work h2{
    padding-left:50px;
    padding-bottom: 10px;
    font-size: 38px;
    font-weight: bold;
    align-self: center;
  }
  .work-grid-container {
    display:grid;
    grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(1, 1fr);
  }
  .work-grid-container :hover {
    opacity: .5;
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  .workimg {
    height: 175px;
    width: 375px;
  }
  
  .contact-me {
   
  padding: 15px;
  }
  .contact-me h3 {
    font-size: 24px;
    font-weight: bold;
  text-align: center;
  }
  .links {
    display:grid;
    grid-template-columns: repeat(3, 3fr);
  }
  
  .links :hover {
    opacity: .5;
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
  }